<div class="card">
    @ChildContent
    <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
    </div>

</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

}


