@* StatusBar Component *@

<div class="StatusBar">
    <h3>StatusBar</h3>
    @* TODO: Implement component *@
</div>

@code {
    [Parameter] public string Id { get; set; } = string.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        // TODO: Initialize component
        await base.OnInitializedAsync();
    }
}
